.pl-30 {
  padding-left: rem(30);
}

$theme-bg-color: #f0ffff;
$sub-theme-bg-color: #8a2be2;

$themeColor: #00C082;
$backgroundColor: #f7f7fa;
$fontFamily : "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", 微软雅黑, STHeiti, 华文细黑, sans-serif;
$fontColor: #333333;
$fontGrtayColor: #999999;

$theme-color: #00c082;
$theme-color-2nd: #FFAE35;
$font-color-2nd: #FFAA00;
$border-color-C9C-2nd: #C9C9C9;
$border-color-2nd: #C0C0C0;
$color-e6e: #E6E6E6;
$color-faf: #FAFAFA;
$color-red-2nd: #FB675D;
$color-black: #000000;
$color-white: #ffffff;
$color-333: #333333;
$color-666: #666666;
$color-999: #999999;
$color-gray: #BEBEBE;
$color-777: #777777;